<div class="row container-fluid">
    <div class="carafe col-md-4 @ViewBag.CarafeState">
        <h2 class="carafe-state">@ViewBag.CarafeState</h2>
        <dl class="dl-horizontal">
            <dt>Last Updated:</dt>
            <dd class="carafe-last-updated">@ViewBag.CarafeLastUpdated</dd>
        </dl>
    </div>
    <div class="col-md-8 wall-of-shame">
        <h2>Wall of Shame</h2>
        <a href="#" class="thumbnail">
            <figure>
                <img class="offender-image" src="https://vterrytatestorage.blob.core.windows.net/terry-tates-brain/blobname">
                <figcaption><span class="offense-time">@ViewBag.OffenderLastUpdated</span>--<span class="offender-name">@ViewBag.OffenderName</span></figcaption>
            </figure>
        </a>
    </div>
    <div class="col-md-4">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/virtualterry" data-widget-id="566142051994312704">Tweets by @@virtualterry</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var tateHub = $.connection.tateHub;

            setInterval(function () {
                $('.wall-of-shame .thumbnail .offender-image').attr('src', 'https://vterrytatestorage.blob.core.windows.net/terry-tates-brain/blobname');
            }, 5000);
            tateHub.client.setOffenderName = function (name) {
                $('.wall-of-shame .thumbnail .offender-name').text(name);
            };
            tateHub.client.sendCarafeState = function (status, timestamp) {
                $('.carafe').removeClass('Empty Full').addClass(status);
                $('.carafe-state').empty().text(status);
            };

            $.connection.hub.start().done(function () { });
        });
    </script>
}
