<div class="jumbotron">
    <h1>Virtual Terry Tate</h1>
    <p class="lead">Genscape believes in a well-caffinated work-force.</p>
    <p>In order to ensure that all of our employees have access to a consistent source of coffee, we've decided to implement this virtual version of our very own cofee enforcer, Terry Tate.</p>
</div>
<div class="row">
    <div class="carafe col-md-12 @ViewBag.CarafeState">
        <h2 class="carafe-state">@ViewBag.CarafeState</h2>
        <dl class="dl-horizontal">
            <dt>Last Updated:</dt>
            <dd class="carafe-last-updated">@ViewBag.CarafeLastUpdated</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12 wall-of-shame">
        <h2>Wall of Shame</h2>
        <a href="#" class="thumbnail">
            <figure>
                <img class="offender-image" src="@ViewBag.OffenderImage">
                <figcaption><span class="offense-time">@ViewBag.OffenderLastUpdated</span>--<span class="offender-name">@ViewBag.OffenderName</span></figcaption>
            </figure>
        </a>
    </div>
</div>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/virtualterry" data-widget-id="566142051994312704">Tweets by @@virtualterry</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
   <script>
        $(function () {
            var tateHub = $.connection.tateHub;

            tateHub.client.setOffenderImage = function (image) {
                $('.wall-of-shame .thumbnail .offender-image').attr('src', image.filename);
                $('.wall-of-shame .thumbnail .offense-time').text(image.lastUpdated);
            };
            tateHub.client.setOffenderName = function (name) {
                $('.wall-of-shame .thumbnail .offender-name').text(name);
            };
            tateHub.client.sendCarafeState = function (status, timestamp) {
                $('.carafe').removeClass('Empty Full').addClass(status);
                $('.carafe-state').empty().text(status);
            };

            $.connection.hub.start().done(function () { });
        });
    </script>
}